/* Normalize */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
  }
  
  /* Cabeçalho */
  .main-heading {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .main-heading h1 {
    font-size: 36px;
  }
  
  /* Navegação */
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Seções */
  section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  section h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  /* Habilidades */
  .habilidade {
    margin-bottom: 20px;
  }
  
  .habilidade ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .habilidade li {
    margin-bottom: 10px;
  }
  
  /* Formação Acadêmica */
  .formacao-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .formacao-item {
    margin-bottom: 20px;
    width: calc(50% - 10px);
  }
  
  /* Contato */
  #contato {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  /* Rodapé */
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    clear: both;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    nav ul {
      flex-direction: column;
    }
    
    nav li {
      margin-right: 0;
      margin-bottom: 10px;
    }
    
    .formacao-container {
      flex-direction: column;
    }
    
    .formacao-item {
      width: 100%;
    }
  }
  
  @media (max-width: 480px) {
    .main-heading h1 {
      font-size: 24px;
    }
    
    section h2 {
      font-size: 18px;
    }
  }